<div class="a4 mx-auto bg-white h-auto">
    <div class="py-4">
        <app-header></app-header>
    </div>
    <div class="flex sm:flex-row flex-col gap-12 py-8 px-16">
        <div class="h-screen space-y-8 basis-1/3">
            <section class="space-y-4">
                <app-title [title]="'skills'"></app-title>                
                <app-skill *ngFor="let skill of dataService.Skills" [skill]="skill"></app-skill>                
            </section>
            <section class="space-y-4">
                <app-title [title]="'languages'"></app-title>
                <app-skill *ngFor="let lang of dataService.Languages" [skill]="lang"></app-skill>
            </section>

            <section class="space-y-4">
                <app-title [title]="'links'"></app-title>  
                <section>
                    <a href="https://stackoverflow.com/users/5346755/argon?tab=profile">Stackoverflow</a>                   
                </section>
                <section>
                    <a href="https://github.com/onlyargon">Github</a>               
                </section>
            </section>
        </div>
        <div class="h-auto space-y-8 basis-2/3">
            <section>
                <app-title [title]="'profile'"></app-title>  
                <p>To be a dynamic professional, working in a challenging environment that would enable
                    me to enhance my skills and abilities in my software development career.</p>
            </section>
            <section>
                <app-title [title]="'employment history'"></app-title>                 
                <app-detail *ngFor="let emp of dataService.Employments" [detail]="emp"></app-detail>                
            </section>

            <section>
                <app-title [title]="'internships'"></app-title>  
                <app-detail *ngFor="let intern of dataService.Internships" [detail]="intern"></app-detail>
            </section>

            <section>
                <app-title [title]="'education'"></app-title>  
                <app-detail *ngFor="let edu of dataService.Education" [detail]="edu"></app-detail>
            </section>

            <section>
                <app-title [title]="'projects'"></app-title>                
                <app-detail *ngFor="let proj of dataService.Projects" [detail]="proj"></app-detail>
            </section>

            <section>
                <app-title [title]="'research & publications'"></app-title>  
                <app-detail *ngFor="let research of dataService.Research" [detail]="research"></app-detail>
            </section>

            <section>
                <app-title [title]="'references'"></app-title>  
                <app-detail *ngFor="let ref of dataService.References" [detail]="ref"></app-detail>
            </section>
        </div>
    </div>
</div>